body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background: #FAFAFA;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #1A1A1A;
  font-size: 24px;
  margin-bottom: 20px;
}

.todo-list {
  background: #FFFFFF;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-width: 50vh;
  list-style: none;
}

.todo-item {
  display: flex;
  padding: 12px;
  padding-left: 30px;
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
  color: #1A1A1A;
  justify-content: space-between;
  align-items: center;
}


.todo-item:last-child {
  border-bottom: none;
}

input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 16px;
}

#submit {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #005fc5;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 8px;

}

.deleteButtons {
  padding: 5px 8px;
  border: none;
  border-radius: 8px;
  background: #ff0101;
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-left: 8px;
}

button:hover {
  opacity: 0.9;
}